@media screen and (max-width:768px) {
    .head {
        position: relative;

        img {
            background-size: cover;
            width: 100%;
            height: auto;
        }

        .head__chevron {
            color: rgb(254, 248, 248);
            font-size: 1rem;
            position: absolute;
            top: 90%;
            right: 50%;
            animation: chevron 0.5s infinite alternate;
        }
    }
}

@media screen and (min-width:768px) {
    .head {
        img {
            background-size: cover;
            width: 100%;
            height: 100vh;
        }

        .head__chevron {
            color: rgb(254, 248, 248);
            font-size: 2rem;
            position: absolute;
            bottom: -10%;
            right: 48%;
            animation: chevron 0.5s infinite alternate;

        }
    }
}