.title {
  width: 100%;
  height: 120px;
  margin:  auto;
 display: flex;
 justify-content: center;
 align-items: center;
}

.title h1 {
  font-family: helvetica;
  letter-spacing: 2px;
  color: white;
  height: 60px;
  
  
}


@media screen and (max-width: 768px) {
  .title {
    h1 {
      font-size: 25px;
      font-family: helvetica;
      letter-spacing: 2px;
      text-align: center;
      text-shadow: 5px 5px 0px #0000;

    }
  }
}