$bg-nav:#fff8;
$bg-btn:#4F75FF;
$btn-color:#C68FE6;
$bg-color:#b3b5b1;

$text-color-white:#FFF8E8;
$text-color-black:#1111;
$header-color:#6439FF#4F75FF;
$bg-card-content:#fff9;
$bg-Artist-color:#E5D9F2;