// body{
//     margin: 0;
//     font-family: hevetica;
//     background-color: #444;
// }

a{
    display: inline-block;
    text-decoration: none;
   color: inherit;

}

*{
    box-sizing: border-box;
}